@import "tailwindcss";

* {
  color-scheme: dark;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  background-color: #0a0a0a;
  color: #ededed;
}

body {
  background: var(--background) !important;
  background-color: #0a0a0a !important;
  color: var(--foreground) !important;
  font-family: Arial, Helvetica, sans-serif;
}
